<div class="conteiner__big-card">
<div class="big-card__photo">
<img src="https://hips.hearstapps.com/hmg-prod/images/spider-man-miles-morales-spider-man-across-the-spider-verse-6475c68955eb0.jpg?crop=0.560xw:1.00xh;0.175xw,0&resize=1200:*"
height="200px"
alt="">
</div>

<div class="big-card__title">
 <h1><a href="#">Saiu a nova versão do Angular</a></h1>

</div>

<div class="big-card__description">
  <p>
  <a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id repellendus inventore a, dolorum ex aliquid quo quos perferendis tempora odit provident delectus autem illo, deleniti eligendi officia suscipit, voluptatem sunt?</a>
  </p>

</div>

</div>
