.conteiner__small-card-content{
  width: 700px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.small-card__photo > img {

width: 200px;
min-width: 200px;
margin-right: 20px;
}

.small-card__title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.small-card__title > h1 > a {
  font-size: 30px;
}

.conteiner__small-card-separator{
  margin-bottom: 20px;

}